USE [master]
GO
/****** Object:  Database [dbReviziCar]    Script Date: 18/06/2026 09:58:58 ******/
CREATE DATABASE [dbReviziCar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbReviziCar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\dbReviziCar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbReviziCar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\dbReviziCar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbReviziCar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbReviziCar]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](150) NOT NULL,
	[CPF] [char](11) NULL,
	[CNPJ] [char](14) NULL,
	[Email] [nvarchar](200) NULL,
	[Telefone] [nvarchar](20) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormaPagamento]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormaPagamento](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
	[TaxaDescontoPercent] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_FormaPagamento] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_FormaPagamento_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcionario]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcionario](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NomeCompleto] [nvarchar](150) NOT NULL,
	[DataCadastro] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Funcionario] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](80) NOT NULL,
 CONSTRAINT [PK_Marca] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Marca_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdMarca] [int] NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servico]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Servico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Servico_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusServico]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusServico](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_StatusServico] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_StatusServico_Nome] UNIQUE NONCLUSTERED 
(
	[Nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venda]    Script Date: 18/06/2026 09:58:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venda](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[IdAtendente] [int] NOT NULL,
	[IdCliente] [int] NOT NULL,
	[IdMarca] [int] NOT NULL,
	[IdModelo] [int] NOT NULL,
	[IdServico] [int] NOT NULL,
	[IdStatus] [int] NOT NULL,
	[Placa] [nvarchar](10) NOT NULL,
	[Ano] [int] NOT NULL,
	[ValorTotal] [decimal](10, 2) NOT NULL,
	[Observacao] [nvarchar](500) NULL,
	[PrimeiroPagamento] [int] NULL,
	[ValorPrimeiroPagamento] [decimal](10, 2) NULL,
	[SegundoPagamento] [int] NOT NULL,
	[ValorSegundoPagamento] [decimal](10, 2) NOT NULL,
	[Data] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Venda] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Cliente_CNPJ]    Script Date: 18/06/2026 09:58:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Cliente_CNPJ] ON [dbo].[Cliente]
(
	[CNPJ] ASC
)
WHERE ([CNPJ] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UIX_Cliente_CPF]    Script Date: 18/06/2026 09:58:58 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Cliente_CPF] ON [dbo].[Cliente]
(
	[CPF] ASC
)
WHERE ([CPF] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venda_IdCliente]    Script Date: 18/06/2026 09:58:58 ******/
CREATE NONCLUSTERED INDEX [IX_Venda_IdCliente] ON [dbo].[Venda]
(
	[IdCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Venda_IdStatus]    Script Date: 18/06/2026 09:58:58 ******/
CREATE NONCLUSTERED INDEX [IX_Venda_IdStatus] ON [dbo].[Venda]
(
	[IdStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Venda_Placa]    Script Date: 18/06/2026 09:58:58 ******/
CREATE NONCLUSTERED INDEX [IX_Venda_Placa] ON [dbo].[Venda]
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cliente] ADD  CONSTRAINT [DF_Cliente_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[FormaPagamento] ADD  CONSTRAINT [DF_FormaPagamento_Taxa]  DEFAULT ((0.00)) FOR [TaxaDescontoPercent]
GO
ALTER TABLE [dbo].[Funcionario] ADD  CONSTRAINT [DF_Funcionario_DataCadastro]  DEFAULT (sysdatetime()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Venda] ADD  CONSTRAINT [DF_Venda_Data]  DEFAULT (sysdatetime()) FOR [Data]
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([ID])
GO
ALTER TABLE [dbo].[Modelo] CHECK CONSTRAINT [FK_Modelo_Marca]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Atendente] FOREIGN KEY([IdAtendente])
REFERENCES [dbo].[Funcionario] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Atendente]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Cliente] FOREIGN KEY([IdCliente])
REFERENCES [dbo].[Cliente] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Cliente]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Marca] FOREIGN KEY([IdMarca])
REFERENCES [dbo].[Marca] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Marca]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Modelo] FOREIGN KEY([IdModelo])
REFERENCES [dbo].[Modelo] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Modelo]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_PrimeiroPagamento] FOREIGN KEY([PrimeiroPagamento])
REFERENCES [dbo].[FormaPagamento] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_PrimeiroPagamento]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_SegundoPagamento] FOREIGN KEY([SegundoPagamento])
REFERENCES [dbo].[FormaPagamento] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_SegundoPagamento]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Servico] FOREIGN KEY([IdServico])
REFERENCES [dbo].[Servico] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Servico]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [FK_Venda_Status] FOREIGN KEY([IdStatus])
REFERENCES [dbo].[StatusServico] ([ID])
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [FK_Venda_Status]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_CNPJ_Len] CHECK  (([CNPJ] IS NULL OR len([CNPJ])=(14)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_CNPJ_Len]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_CPF_Len] CHECK  (([CPF] IS NULL OR len([CPF])=(11)))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_CPF_Len]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [CK_Cliente_DocType] CHECK  (([CPF] IS NOT NULL AND [CNPJ] IS NULL OR [CPF] IS NULL AND [CNPJ] IS NOT NULL))
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [CK_Cliente_DocType]
GO
ALTER TABLE [dbo].[FormaPagamento]  WITH CHECK ADD  CONSTRAINT [CK_FormaPagamento_Taxa] CHECK  (([TaxaDescontoPercent]>=(0) AND [TaxaDescontoPercent]<=(100)))
GO
ALTER TABLE [dbo].[FormaPagamento] CHECK CONSTRAINT [CK_FormaPagamento_Taxa]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_Ano] CHECK  (([Ano]>=(1900) AND [Ano]<=(2100)))
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_Ano]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_PagConsistencia] CHECK  (([PrimeiroPagamento] IS NULL AND [ValorPrimeiroPagamento] IS NULL OR [PrimeiroPagamento] IS NOT NULL AND [ValorPrimeiroPagamento] IS NOT NULL))
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_PagConsistencia]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorPag1] CHECK  (([ValorPrimeiroPagamento] IS NULL OR [ValorPrimeiroPagamento]>=(0)))
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorPag1]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorPag2] CHECK  (([ValorSegundoPagamento]>=(0)))
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorPag2]
GO
ALTER TABLE [dbo].[Venda]  WITH CHECK ADD  CONSTRAINT [CK_Venda_ValorTotal] CHECK  (([ValorTotal]>=(0)))
GO
ALTER TABLE [dbo].[Venda] CHECK CONSTRAINT [CK_Venda_ValorTotal]
GO
USE [master]
GO
